.gallery-main{
    /* margin:0px var(--padd_main); */
    padding:0px var(--padd_main);
    padding-top:var(--nav_size);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
    position: relative;
    
   
    
}

.gallery_sub{
    width: var(--width_main);
    /* position: absolute;
    z-index: 5000 !important ; */


}
.gallary_section_title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size:clamp(0.6rem,1vw + 0.15rem , 2.5rem);
    gap: 2em;
    align-items: center;
    margin-top: 3em;
    font-family: var(--font-second);
    text-transform: uppercase;
    
   
    
}

.gallary_span{
    /* z-index: 50000 !important ; */
    padding-bottom: 0.2em;
    border-bottom: 2px solid transparent;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.gallary_span:hover{
    border-bottom: 2px solid black !important;
}